.about-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about__title {
    font-size: 40px;
}

.about__text {
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.8);
}

.about-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 30vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 45px;
}

.tokenomics-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 30vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tokenomics__title {
    font-size: 40px;
}

.wolf {
    max-width: 5vw;
    align-items: center;
}



.roadmap2__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.roadmap2__card {
    flex-basis: 300px;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px 5px;
    border: 1px solid #fff;
    font-size: 20px;
}

.roadmap2__title {
    text-align: center;
}

.roadmap2__subtitle {
    text-align: center;
}

.roadmap2__card:hover {
    background-color: rgba(36, 109, 22, 0.5);
}

@media (max-width: 670px) {
    .roadmap2__card {
        flex-basis: 80%;
    }
}

@media (max-width: 560px) {
    .roadmap2__card {
        flex-basis: 100%;
    }
}

.socials-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 30vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.socials__title {
    font-size: 40px;
}


@media screen and (max-width: 968px) {
    .wolf {
        display: none;
    }

}

@media screen and (max-width: 776px) {
    .footer-img {
        max-width: 200px;
        margin: auto;
    }
}